@font-face {
  font-family: 'Equity';
  src: url('/fonts/equity/a_regular.woff2');
}
@font-face {
  font-family: 'Equity';
  font-style: italic;
  src: url('/fonts/equity/a_italic.woff2');
}
@font-face {
  font-family: 'Equity';
  font-style: bold;
  src: url('/fonts/equity/a_bold.woff2');
}
@font-face {
  font-family: 'Concourse';
  src: url('/fonts/concourse/4_medium.woff2');
}
@font-face {
  font-family: 'Concourse';
  font-style: italic;
  src: url('/fonts/concourse/4_medium_italic.woff2');
}
@font-face {
  font-family: 'Concourse';
  font-style: bold;
  src: url('/fonts/concourse/7_bold.woff2');
}
@font-face {
  font-family: 'Triplicate';
  src: url('/fonts/concourse/a_code_regular.woff2');
}
@font-face {
  font-family: 'Triplicate';
  font-style: italic;
  src: url('/fonts/concourse/a_code_italic.woff2');
}
@font-face {
  font-family: 'Triplicate';
  font-style: bold;
  src: url('/fonts/concourse/a_code_bold.woff2');
}
